<ion-list>
  <ion-item (click)="logout()">
    <ion-label>Cerrar sesión</ion-label>
    <ion-icon slot="start" name="power-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Ayuda</ion-label>
    <ion-icon slot="start" name="help-outline"></ion-icon>
  </ion-item>
</ion-list>