<ion-content class="ion-padding" color="medium">

  <div class="container login">

    <form [formGroup]="formulario" (ngSubmit)="logueo()">

      <div class="container img">
        <img src="../../../assets/logotipo NEGRO-01.png" width="100%" height="90%">
      </div>

      <ion-list-header class="ion-text-center">
        <ion-label><h3>INGRESAR</h3></ion-label>
      </ion-list-header>
  
      <ion-item style="border-radius: 10px;">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" formControlName="usuario" name="usuario"></ion-input>
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      </ion-item>

      <br>
  
      <ion-item style="border-radius: 10px;">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password" name="password"></ion-input>
        <ion-icon slot="start" name="key-outline"></ion-icon>
      </ion-item>
      <br>
  
      <ion-button type="submit" expand="block" shape="round" [disabled]="formulario.invalid">Ingresar</ion-button>
  
    </form>
  
  </div>
</ion-content>
