.login {
    position: relative;
    top: 10%;
    left: 8%;
    right: 4%;
    
    width: 85%;
    padding-left: 6.5%;
    padding-right: 4.5%;
    padding-bottom: 5%;
    background-color: white;
    border-radius: 5%;
}

.img{
    width: 60%;
    height: 60%;
    position:sticky;
    top: -100px;
    left: 28%;
    right: 15%;
}

// ion-content {
//     --background: url("../../../assets/back.jpeg") 100% 50% 50% no-repeat;
// }