<ion-header>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">
      BITMX
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="end" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="sliderContain">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide class="slide1">
        <img src="../../../assets/larga.jpg">
      </ion-slide>

      <ion-slide class="slide1">
        <img src="../../../assets/Imagen3.png">
      </ion-slide>

      <ion-slide class="slide1">
        <img src="../../../assets/Imagen4.png">
      </ion-slide>

      <ion-slide class="slide1">
        <img src="../../../assets/Imagen6.png">
      </ion-slide>
    </ion-slides>
  </div>

  <ion-row style="margin-top: 2%;">
    <ion-col size="12">
        <ion-icon name="people" class="people"></ion-icon>
        <ion-label class="texto">PONENTES</ion-label>
    </ion-col>
  </ion-row>
  <hr class="ponente">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
          <ion-row>
            <div class="slider">
              <input type="radio" name="testimonial" id="t-1" />
              <input type="radio" name="testimonial" id="t-2" />
              <input type="radio" name="testimonial" id="t-3" checked />
              <input type="radio" name="testimonial" id="t-4" />
              <input type="radio" name="testimonial" id="t-5" />
              <div class="testimonials mb-8">
                <label class="item" for="t-1">
                  <div class="mycard">
                    <p class="cardtitle">Alfonso Martínez</p>
                    <div>
                      <img src="../../../assets/ALFONSO-MARTINEZ.jpg" alt="nivel5" class="cardimg" />
                    </div>
                    <div>
                      <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
                    </div>
                  </div>
                </label>
                <label class="item" for="t-2">
                  <div class="mycard">
                    <p class="cardtitle">Ferny Ruiz</p>
                    <div>
                      <img src="../../../assets/FERNY-RUIZ.jpg" alt="nivel5" class="cardimg" />
                    </div>
                    <div>
                      <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
                    </div>
                  </div>
                </label>
                <label class="item" for="t-3">
                  <div class="mycard">
                    <p class="cardtitle">Aaron Benítez</p>
                    <div>
                      <img src="../../../assets/AARON-BENITEZ.jpg" alt="nivel5" class="cardimg" />
                    </div>
                    <div>
                      <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
                    </div>
                  </div>
                </label>
                <label class="item" for="t-4">
                  <div class="mycard">
                    <p class="cardtitle">Karla Paniagua</p>
                    <div>
                      <img src="../../../assets/KARLA-PANIAGUA.jpg" alt="nivel5" class="cardimg" />
                    </div>
                    <div>
                      <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
                    </div>
                  </div>
                </label>
                <label class="item" for="t-5">
                  <div class="mycard">
                    <p class="cardtitle">Jonathan Bazán</p>
                    <div>
                      <img src="../../../assets/JONATHAN-BAZAN.jpg" alt="nivel5" class="cardimg" />
                    </div>
                    <div>
                      <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
                    </div>
                  </div>
                </label>
              </div>
              <div class="dots">
                <label for="t-1"></label>
                <label for="t-2"></label>
                <label for="t-3"></label>
                <label for="t-4"></label>
                <label for="t-5"></label>
              </div>
            </div>
          </ion-row>
      </ion-col>
      <ion-col size="12" size-sm>
        <p>
          Solo lo mejor de lo mejor, BITMX 2022. Transforma tu realidad y recuerda que el esfuerzo es la magia
          que transforma los éxitos en realidad.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  

  <ion-row style="padding-top: 5%;">
    <ion-col size="12">
        <ion-icon name="paper-plane" class="people"></ion-icon>
        <ion-label class="texto">CONFERENCIAS</ion-label>
    </ion-col>
  </ion-row>
  <hr class="ponente">

  <ion-row class="rowb">
    <ion-col size="5" class="bannerdia1" routerLink="/one">
    <h2>DIA 1</h2>
    </ion-col>
    <ion-col>
      
    </ion-col>
    <ion-col size="5" class="bannerdia2" routerLink="/two">
      <h2>DIA 2</h2>
      </ion-col>
  </ion-row>

  <div style="height: 20px;"></div>

  
  <ion-footer>
    <ion-toolbar color="dark">
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>