<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      ZOOM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="meetingSDKElement">

  
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
        <button (click)="getSignature()">Unirse</button>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
  
    
  
</ion-content>