<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>CONFERENCIAS DIA UNO</ion-title>
    <ion-card-subtitle>BITMX 2022</ion-card-subtitle>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-card>
          <img class="imagen" src="../../../assets/future & work-01.png" alt="">
          <ion-card-header>
            <ion-card-subtitle>PENDIENTE</ion-card-subtitle>
            <ion-card-title>Conferencia Magistral | FUTURE & WORK</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tiempo estimado: 1 hora
            <br>
            Inicio: 09:20
            <br>
            <ion-button style="margin-left: 33%;" shape="round" color="danger">
              INGRESAR
            </ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              Aaron Benítez | Dr. Alfonso Martínez Cruz
            </ion-card-subtitle>
            <ion-card-title>
              "Hacks para fundar startups en México".
              <br>
              Tendencias actuales en IoT y la llegada de Iot 2.0
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tiempo estimado: 1 hora
            <br>
            Inicio: 10:30
            <br>
            <ion-button style="margin-left: 33%;" shape="round" color="danger">
              INGRESAR
            </ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>AMAZON | ING. Jennifer Hernández Vásquez</ion-card-subtitle>
            <ion-card-title>
              MAGISTRAL | MECH & TECH 'Servicios en la nube y programas educativos AWS'
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tiempo estimado: 1 hora
            <br>
            Inicio: 11:30
            <br>
            <ion-button style="margin-left: 33%;" shape="round" color="danger">
              INGRESAR
            </ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Raúl Montiel</ion-card-subtitle>
            <ion-card-title>INCLUSION & EQUALITY</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tiempo estimado: 1 hora
            <br>
            Inicio: 12:40
            <br>
            <ion-button style="margin-left: 33%;" shape="round" color="danger">
              INGRESAR
            </ion-button>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Sergio Sosa</ion-card-subtitle>
            <ion-card-title>"Neuroconsumo, un nuevo enfoque para el emprendimiento"</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tiempo estimado: 1 hora
            <br>
            Inicio: 13:40
            <br>
            <ion-button style="margin-left: 33%;" shape="round" color="danger">
              INGRESAR
            </ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Pablo Belmar</ion-card-subtitle>
            <ion-card-title>"NLP Bank: La importancia de estar informados"</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tiempo estimado: 1 hora
            <br>
            Inicio: 15:10
            <br>
            <ion-button style="margin-left: 33%;" shape="round" color="danger">
              INGRESAR
            </ion-button>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>BIOMAKERS | Jonathan Bazán</ion-card-subtitle>
            <ion-card-title>"Tecnología Biónica BioMakers AI"</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tiempo estimado: 1 hora
            <br>
            Inicio: 16:10
            <br>
            <ion-button style="margin-left: 33%;" shape="round" color="danger">
              INGRESAR
            </ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
