<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>CONFERENCIAS DIA DOS</ion-title>
    <ion-card-subtitle>BITMX 2022</ion-card-subtitle>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Jorge Abrams</ion-card-subtitle>
            <ion-card-title>Conferencia Magistral | INNOVATION TRENDS</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tiempo estimado: 1 hora
            <br>
            Inicio: 09:05
            <br>
            <ion-button style="margin-left: 33%;" shape="round" color="danger">
              INGRESAR
            </ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              Ferny Ruiz
            </ion-card-subtitle>
            <ion-card-title>
              "Pinta tu mundo del color que tu quieras".
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tiempo estimado: 1 hora
            <br>
            Inicio: 10:05
            <br>
            <ion-button style="margin-left: 33%;" shape="round" color="danger">
              INGRESAR
            </ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>HUAWEI | Manami Ichikawa</ion-card-subtitle>
            <ion-card-title>
              Conferencia magistral | MECH & TECH
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tiempo estimado: 1 hora
            <br>
            Inicio: 11:05
            <br>
            <ion-button style="margin-left: 33%;" shape="round" color="danger">
              INGRESAR
            </ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>PENDIENTE</ion-card-subtitle>
            <ion-card-title>FUTURE & WORK</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tiempo estimado: 1 hora
            <br>
            Inicio: 12:05
            <br>
            <ion-button style="margin-left: 33%;" shape="round" color="danger">
              INGRESAR
            </ion-button>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Vinicius Covas</ion-card-subtitle>
            <ion-card-title>"NFT's el futuro de la comunicación y el entretenimiento"</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tiempo estimado: 1 hora
            <br>
            Inicio: 13:15
            <br>
            <ion-button style="margin-left: 33%;" shape="round" color="danger">
              INGRESAR
            </ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Karla Paniagua</ion-card-subtitle>
            <ion-card-title>Competencias para el futuro: cuáles y por qué</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tiempo estimado: 1 hora
            <br>
            Inicio: 15:00
            <br>
            <ion-button style="margin-left: 33%;" shape="round" color="danger">
              INGRESAR
            </ion-button>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>PENDIENTE</ion-card-subtitle>
            <ion-card-title>Conferencia magistral | STARTUP/INCLUSIÓN</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tiempo estimado: 1 hora
            <br>
            Inicio: 16:10
            <br>
            <ion-button style="margin-left: 33%;" shape="round" color="danger">
              INGRESAR
            </ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
